doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		// This file has been downloaded from Bootsnipp.com. Enjoy!
		title Express JS
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
		link(rel='stylesheet', href='../public/css/styleCTask.css')
		script(src='http://code.jquery.com/jquery-1.11.1.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
		style.
			body {
			background: #C5E1A5;
			}
			form {
			width: 60%;
			margin: 60px auto;
			background: #efefef;
			padding: 60px 120px 80px 120px;
			text-align: center;
			-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
			box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
			}
			label {
			display: block;
			position: relative;
			margin: 40px 0px;
			}
			.label-txt {
			position: absolute;
			top: -1.6em;
			padding: 10px;
			font-family: sans-serif;
			font-size: .8em;
			letter-spacing: 1px;
			color: rgb(120, 120, 120);
			transition: ease .3s;
			}
			.input {
			width: 100%;
			padding: 10px;
			background: transparent;
			border: none;
			outline: none;
			}
			.line-box {
			position: relative;
			width: 100%;
			height: 2px;
			background: #BCBCBC;
			}
			.line {
			position: absolute;
			width: 0%;
			height: 2px;
			top: 0px;
			left: 50%;
			transform: translateX(-50%);
			background: #8BC34A;
			transition: ease .6s;
			}
			.input:focus+.line-box .line {
			width: 100%;
			}
			.label-active {
			top: -3em;
			}
			button {
			display: inline-block;
			padding: 12px 24px;
			background: rgb(220, 220, 220);
			font-weight: bold;
			color: rgb(120, 120, 120);
			border: none;
			outline: none;
			border-radius: 3px;
			cursor: pointer;
			transition: ease .3s;
			}
			button:hover {
			background: #8BC34A;
			color: #ffffff;
			}
	body
		nav.navbar.navbar-expand-sm.navbar-dark(style='background-color: #b0dd92;')
			a.navbar-brand(href='#') Express JS
			button.navbar-toggler.d-lg-none(type='button', data-toggle='collapse', data-target='#collapsibleNavId', aria-controls='collapsibleNavId', aria-expanded='false', aria-label='Toggle navigation')
			#collapsibleNavId.collapse.navbar-collapse
				ul.navbar-nav.mr-auto.mt-2.mt-lg-0
					li.nav-item.active
						a.nav-link(href='/')
							| Home 
							span.sr-only (current)
					li.nav-item.active
						a.nav-link(href='/createTask') Create Task
					li.nav-item.active
						a.nav-link(href='/updateTask') Giao task
				span.navbar-text-(style='color : #6495ED') LogOut
		form(method='POST')
			label
				.form-group
					p.label-txt Name Task
					input.input(type='text', name='name' value=task.name)
					.line-box
						.line
			label
				.form-group
					p.label-txt Task Detail
					br
					textarea#my-textarea.form-control(name='taskDetail', rows='3' placeholder=task.taskDetail style='height: 120px; resize:none' )
			label
				.form-group
					p.label-txt Member
					br
					select#my-select.custom-select(name='member') 
						option(selected='') #{task.member}
						each user in users
							option(name='member', value= user.name) #{user.name}
			button(type='submit') submit
